<div ng-controller="ReservedController as RC" ng-init="RC.init()">
	<a-module>
		<a-container>
			<a-header>
				<div class="row">
					<div class="col-md-6">
						<h4>Students</h4>
					</div>
					
					<div class="col-md-6">
						<a-pager class="pull-right" meta="RC.Meta" on-navigate="RC.goToPage"></a-pager>
					</div>
				</div>
				<div class="clearfix"></div>
			</a-header>
			<a-header>
				<div class="row">
					<div class="col-md-11">
						<a-searchbox ng-model="RC.Searchbox" on-search="RC.search" on-clear="RC.clearSearch" is-large="true"></a-searchbox>
					</div>
					<div class="col-md-1">
						<button class="btn btn-primary btn-lg" ng-disabled="!RC.CompleteReservations.breakdown" ng-click="RC.PrintRes()" >Print</button>
					</div>
				</div>
			</a-header>
			<a-canvas>
				<a-content >
					<a-row style="margin-bottom: 20px;">
						<a-col>
							<div class="col-md-3" style="margin-left: -70px;">
								<ul class="nav nav-pills pull-right">
									<li ng-repeat="tab in RC.Tabs" 
										ng-click="RC.SetActiveTab(tab)"
										ng-class="{active:tab==RC.ActiveTab}">
										<a>{{tab}}</a>
									</li>
								</ul>
							</div>
						</a-col>
					</a-row>
					<a-row ng-show="RC.Students.length&&RC.ActiveTab=='Breakdown'">
						<a-col>
							<a-table headers="RC.Headers" props="RC.Props" data="RC.Students"  ng-model="RC.Active" on-row-click="RC.openModal" search-by="RC.SearchBy" search-word="RC.Searchbox"></a-table>
						</a-col>
					</a-row>
					<a-row ng-show="RC.CompleteReservations&&RC.ActiveTab=='Summary'">
						<a-col>
							<table class="table table-bordered table-condensed">
								<thead>
									<tr>
										<th></th>
										<th>New</th>
										<th>Old</th>
										<th>Unset Program</th>
										<th>Total</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="sum in RC.CompleteReservations.summary track by $index |  orderBy:'order'">
										<td>{{sum.description}}</td>
										<td>{{sum.total_new}}</td>
										<td>{{sum.total_old}}</td>
										<td>{{sum.unset}}</td>
										<td>{{sum.total}}</td>
									</tr>
									
								</tbody>
								<tfoot>
									<tr>
										<td>Total</td>
										<td>{{RC.CompleteReservations.totals.new}}</td>
										<td>{{RC.CompleteReservations.totals.old}}</td>
										<td>{{RC.CompleteReservations.totals.unset}}</td>
										<td>{{RC.CompleteReservations.totals.total}}</td>
									</tr>
								</tfoot>
							</table>
							{{RC.CompleteReservations.sh[0]}}
						</a-col>
					</a-row>
					<a-row ng-show="RC.NoStudents">
						<a-col>
							<div class="empty-state">
								<div class="well">
									<div class="empty-state-icon">
										<span class="glyphicon glyphicon-exclamation-sign"></span>
									</div>
									<h4>No Reserved Students!</h4>
								</div>
							</div>
						</a-col>
					</a-row>
				</a-content>
			</a-canvas>
		</a-container>
	</a-module>
	<form action="api/reports/print_reserve" id="PrintRess" method="POST" target="_blank">
		<input type="hidden" value="{{RC.CompleteReservations}}" name="reserves">
	</form>
</div>