<div ng-controller="StudentInfoController as SI" ng-init="SI.init()">
	<!--
	NOTE: Disable ADD in student info, only encode in Student Inquiry Module
	<a-fab ng-click="SI.openModal()" ng-disabled="SI.ActiveTyp=='New'" ></a-fab>
	-->
	<a-module>
		<a-container>
			<a-header>
				<a-row>
					<a-col size="10">
						<a-searchbox ng-model="SI.Searchbox" on-search="SI.search" on-clear="SI.clearSearch" is-large="true"></a-searchbox>
					</a-col>
					<a-col size="2">
						<a-button size="lg" type="success btn-block" ng-click="SI.openModal()">
							<a-glyph icon="paperclip"></a-glyph>
							Inquiry
						</a-button>
					</a-col>
				</a-row>

				
			</a-header>
			<a-canvas>
				<a-content >
					<a-row style="margin-bottom:15px;">
						<a-col size="3">
							<a-navpill ng-model="SI.ActiveTyp" options="SI.StudTypes" type="button" ></a-navpill>
						</a-col>
						<a-col size="9" align="right">
							<a-pager meta="SI.Meta" on-navigate="SI.goToPage"></a-pager>
						</a-col>
					</a-row>
					<a-row>
						<a-col>
							<a-table headers="SI.Headers" props="SI.Props" data="SI.Students"  ng-model="SI.Active" on-row-click="SI.openModal" search-by="SI.SearchBy" search-word="SI.Searchbox" is-preload="true"></a-table>
						</a-col>
					</a-row>
					<a-row ng-show="SI.NoStudents">
						<a-col>
							<div class="empty-state">
								<div class="well">
									<div class="empty-state-icon">
										<span class="glyphicon glyphicon-exclamation-sign"></span>
									</div>
									<h4>No Students!</h4>
								</div>
							</div>
						</a-col>
					</a-row>
				</a-content>
			</a-canvas>
		</a-container>
	</a-module>
	<a-modal id="StudentInfoModal" title="{{SI.ModalLabel}}">
		<a-modal-body>
			<a-row>
				<a-col>
					<uib-tabset active="SI.ActiveTab">
						<uib-tab index="0" heading="Basic Info" ng-show="SI.ActiveTyp=='Old'">
							<a-row >
								<a-col size="6" >
									<m-formgroup ng-model="SI.ActiveStudent.lrn" label="LRN" ng-disabled="SI.ActiveTyp=='Old'"></m-formgroup>
								</a-col>
								<a-col size="6" >
									<m-formgroup ng-model="SI.ActiveStudent.sno" label="SNO" ng-disabled="SI.ActiveTyp=='Old'"></m-formgroup>
								</a-col>
							</a-row>	
							<a-row >
								<a-col size="12">
									<m-formgroup ng-model="SI.ActiveStudent.last_name" label="Last Name"></m-formgroup>
								</a-col>
							</a-row>	
							<a-row >
								<a-col size="12">
									<m-formgroup ng-model="SI.ActiveStudent.first_name"  label="First Name"></m-formgroup>
								</a-col>
							</a-row>	
							<a-row >
								<a-col size="9">
									<m-formgroup ng-model="SI.ActiveStudent.middle_name"  label="Middle Name"></m-formgroup>
								</a-col>
								<a-col size="3">
									<m-formgroup ng-model="SI.ActiveStudent.suffix" label="Suffix" ></m-formgroup>
								</a-col>
							</a-row>
							
						</uib-tab>
						<uib-tab index="1" heading="Inquiry" ng-show="SI.ActiveTyp=='New'" >	
								
							<a-row >
								<a-col>
									<m-formgroup ng-model="SI.ActiveStudent.first_name" label="First Name"></m-formgroup>
								</a-col>
							</a-row>	
							<a-row >
								<a-col >
									<m-formgroup ng-model="SI.ActiveStudent.middle_name"  label="Middle Name"></m-formgroup>
								</a-col>
							</a-row>
							<a-row >
								<a-col size="9">
									<m-formgroup ng-model="SI.ActiveStudent.last_name" label="Last Name"></m-formgroup>
								</a-col>
								<a-col size="3">
									<m-formgroup ng-model="SI.ActiveStudent.suffix" label="Suffix" ng-disabled="SI.ActiveTyp=='Old'"></m-formgroup>
								</a-col>
							</a-row>
							<a-row>
								<a-col size="SI.ActiveStudent.department_id=='SH'?4:6">
									<m-formgroup ng-model="SI.ActiveStudent.department_id" label="Department" options="SI.entryDepts" option-label="description" ng-disabled="SI.ActiveTyp=='Old'" ></m-formgroup>
								</a-col>
								<a-col size="SI.ActiveStudent.department_id=='SH'?4:6">
									<m-formgroup ng-model="SI.ActiveStudent.year_level_id" label="Year Level" options="SI.entryYrLevels" option-label="description"  ></m-formgroup>
								</a-col>
								<a-col size="4" ng-show="SI.ActiveStudent.department_id=='SH'">
									<m-formgroup ng-model="SI.ActiveStudent.program_id" label="Program" options="SI.entryProgs" option-label="description" ng-disabled="SI.ActiveTyp=='Old'" ></m-formgroup>
								</a-col>								
								
							</a-row>
							<a-row>
								<a-col>
									<m-formgroup ng-model="SI.ActiveStudent.prev_school" label="Previous School"></m-formgroup>
									<m-formgroup ng-model="SI.ActiveStudent.prev_school_type" options="SI.PrevSchType" type="'btn-group'" hide-label="true"></m-formgroup>
									<m-formgroup ng-model="SI.ActiveStudent.prev_school_address" label="Previous School Address"></m-formgroup>
								</a-col>
							</a-row>
						</uib-tab>
						<uib-tab index="2" heading="Contact">
							<a-row>
								<a-col size="6">
									<m-formgroup ng-model="SI.ActiveStudent.mobile" label="Student's Mobile No."></m-formgroup>
								</a-col>
								<a-col size="6">
									<m-formgroup ng-model="SI.ActiveStudent.landline" label="Landline"></m-formgroup>
								</a-col>
							</a-row>
							<a-row>
								<a-col>
									<m-formgroup ng-model="SI.ActiveStudent.c_address" label="Current Address"></m-formgroup>
								</a-col>
							</a-row>
							<a-row>
								<a-col size="6">
									<m-formgroup ng-model="SI.ActiveStudent.c_barangay" label="Barangay"></m-formgroup>
								</a-col>
								<a-col size="6">
									<m-formgroup ng-model="SI.ActiveStudent.c_city" label="City"></m-formgroup>
								</a-col>
							</a-row>
							<a-row>
								<a-col size="6">
									<m-formgroup ng-model="SI.ActiveStudent.c_province" label="Province"></m-formgroup>
								</a-col>
								<a-col size="6">
									<m-formgroup ng-model="SI.ActiveStudent.c_country" label="Country"></m-formgroup>
								</a-col>
							</a-row>
							<a-row>
								<a-col>
									<hr>
								</a-col>
								<a-col size="6">
									<m-formgroup ng-model="SI.ActiveStudent.g_first_name" label="Guardian's First Name">
										
									</m-formgroup>
								</a-col>
								<a-col size="6">

									<m-formgroup ng-model="SI.ActiveStudent.g_last_name" label="Last Name">
									</m-formgroup>
								</a-col>
								<a-col size="6">
									<m-formgroup ng-model="SI.ActiveStudent.g_rel" label="Relationship to Student"></m-formgroup>
								</a-col>
								<a-col size="6">
									<m-formgroup ng-model="SI.ActiveStudent.g_contact_no" label="Contact No."></m-formgroup>
								</a-col>
							</a-row>
							<a-row>
								<a-col>
									<hr>
									<m-formgroup ng-model="SI.ActiveStudent.source" options="SI.LearnSource" label="How did you learn about LSEI?"></m-formgroup>
								</a-col>
							</a-row>
						</uib-tab>
						<uib-tab index="3" heading="Personal">
							<a-row>
								<a-col>
									<m-formgroup ng-model="SI.ActiveStudent.address" label="Permanent Address"></m-formgroup>
								</a-col>
							</a-row>
							<a-row>
								<a-col size="6">
									<m-formgroup ng-model="SI.ActiveStudent.barangay" label="Barangay"></m-formgroup>
								</a-col>
								<a-col size="6">
									<m-formgroup ng-model="SI.ActiveStudent.city" label="City"></m-formgroup>
								</a-col>
							</a-row>
							<a-row>
								<a-col size="6">
									<m-formgroup ng-model="SI.ActiveStudent.province" label="Province"></m-formgroup>
								</a-col>
								<a-col size="6">
									<m-formgroup ng-model="SI.ActiveStudent.country" label="Country"></m-formgroup>
								</a-col>
							</a-row>
							<a-row>
								<a-col size="6">
									<m-formgroup ng-model="SI.ActiveStudent.gender" options="SI.SexTypes" type="'btn-group'" label="Gender"></m-formgroup>
								</a-col>
								<a-col size="6">
									<m-formgroup ng-model="SI.ActiveStudent.birthday" label="Birthday" type="'date'"></m-formgroup>
									
								</a-col>
							</a-row>
							<a-row>
								<a-col size="6">
									<m-formgroup ng-model="SI.ActiveStudent.citizenship" label="Citizenship"></m-formgroup>
								</a-col>
								<a-col size="6">
									<m-formgroup ng-model="SI.ActiveStudent.religion" label="Religion"></m-formgroup>
								</a-col>
							</a-row>
							<a-row ng-hide="true">
								<a-col>
									<m-formgroup ng-model="SI.ActiveStudent.birth_place" label="Birth Place"></m-formgroup>
								</a-col>
							</a-row>
						</uib-tab>

						<uib-tab index="4" heading="Parents">
							<a-row>
								<a-col>
									<m-formgroup ng-model="SI.PInfoShow" options="SI.PInfos"  type="'btn-group'" label="Parent's Information"></m-formgroup>
								</a-col>
							</a-row>
							<a-row ng-show="SI.PInfoShow=='PINFF' || SI.PInfoShow=='PINFA'">
								<a-col>
									<m-formgroup ng-model="SI.ActiveStudent.f_first_name" label="Father's First Name"></m-formgroup>
								</a-col>
								<a-col>
									<m-formgroup ng-model="SI.ActiveStudent.f_middle_name" label="Middle Name"></m-formgroup>
								</a-col>
								<a-col>
									<m-formgroup ng-model="SI.ActiveStudent.f_last_name" label="Last Name"></m-formgroup>
								</a-col>
								<a-col size="6">
									<m-formgroup ng-model="SI.ActiveStudent.f_mobile" label="Mobile No."></m-formgroup>
								</a-col>
								<a-col size="6">
									<m-formgroup ng-model="SI.ActiveStudent.f_occupation" label="Occupation"></m-formgroup>
								</a-col>
								</a-row>
								<a-row ng-show="SI.PInfoShow=='PINFA'">
									<a-col><hr></a-col>
								</a-row>
								<a-row ng-show="SI.PInfoShow=='PINFM' || SI.PInfoShow=='PINFA'">
								<a-col>
									<m-formgroup ng-model="SI.ActiveStudent.m_first_name" label="Mother's First Name"></m-formgroup>
								</a-col>
								<a-col>
									<m-formgroup ng-model="SI.ActiveStudent.m_middle_name" label="Middle Name"></m-formgroup>
								</a-col>
								<a-col>
									<m-formgroup ng-model="SI.ActiveStudent.m_last_name" label="Last Name"></m-formgroup>
								</a-col>
								<a-col size="6">
									<m-formgroup ng-model="SI.ActiveStudent.m_mobile" label="Mobile No."></m-formgroup>
								</a-col>
								<a-col size="6">
									<m-formgroup ng-model="SI.ActiveStudent.m_occupation" label="Occupation"></m-formgroup>
								</a-col>
							</a-row>

						</uib-tab>
						
						<uib-tab index="6" heading="Scholastic"  ng-show="SI.ActiveTyp=='Old'">
							<a-row>
								<a-col size="4">
									<m-formgroup ng-model="SI.ActiveStudent.entry_status" label="Entry Status" options="SI.entryStats" option-label="name" ng-disabled="SI.ActiveTyp=='Old'" ></m-formgroup>
								</a-col>
								<a-col size="4">
									<m-formgroup ng-model="SI.ActiveStudent.entry_sy" label="Entry SY"  ng-disabled="SI.ActiveTyp=='Old'" ></m-formgroup>
								</a-col>
								<a-col size="4">
									<m-formgroup ng-model="SI.ActiveStudent.entry_period" label="Entry Period" options="SI.entryPeriods" option-label="name" ng-disabled="SI.ActiveTyp=='Old'" ></m-formgroup>
								</a-col>
							</a-row>
							<a-row>
								<a-col size="SI.ActiveStudent.department_id=='SH'?4:6">
									<m-formgroup ng-model="SI.ActiveStudent.department_id" label="Department" options="SI.entryDepts" option-label="description" ng-disabled="SI.ActiveTyp=='Old'" ></m-formgroup>
								</a-col>
								<a-col size="4" ng-show="SI.ActiveStudent.department_id=='SH'">
									<m-formgroup ng-model="SI.ActiveStudent.program_id" label="Program" options="SI.entryProgs" option-label="description" ng-disabled="SI.ActiveTyp=='Old'" ></m-formgroup>
								</a-col>								
								<a-col size="SI.ActiveStudent.department_id=='SH'?4:6">
									<m-formgroup ng-model="SI.ActiveStudent.section_id" label="Section" options="SI.entrySections" option-label="name" option-group="year_level"  ng-disabled="SI.ActiveTyp=='Old'" ></m-formgroup>
								</a-col>
							</a-row>
						</uib-tab>

						<uib-tab index="7" heading="Credentials" ng-show="SI.ActiveTyp=='Old'">
						</uib-tab>
						<uib-tab index="98" heading="Verify" ng-show="SI.ActiveTyp=='New' && 1" classes="pull-right" >

							<a-row>
								<a-col size="4">
									<m-formgroup ng-model="SI.VMType" options="SI.VMTypes" label="Verify Mobile"></m-formgroup>
								</a-col>
								<a-col size="5">
									<m-formgroup ng-model="SI.VerifyMobile" type="'display'" label="Mobile No."></m-formgroup>
								</a-col>
								<a-col size="3">
									<a-button type="default btn-block" style="margin-top:25px;" ng-disabled="!SI.VerifyMobile">
										Send OTP
									</a-button>
								</a-col>
							</a-row>
							<a-row>
								<a-col size="8">
									<m-formgroup ng-model="SI.VerifyOTP" size="'input-lg'" type="'otp'" label="Enter OTP"></m-formgroup>
								</a-col>
								<a-col size="4">
									<a-button type="default btn-block" size="lg" style="margin-top:25px;"> 
									Verify
								</a-button>
								</a-col>
							</a-row>
						</uib-tab>
						<uib-tab index="99" heading="Forms" ng-show="SI.ActiveTyp=='New' && SI.ActiveStudent.id" classes="pull-right" >	
							<a-row>
								<a-col size="7">
									<m-formgroup label="Student Forms" ng-model="SI.SFormType" options="SI.SFormTypes" type="'btn-group'"></m-formgroup>
								</a-col>
								<a-col size="5">
									<a-button type="default btn-block" style="margin-top:25px;" ng-click="SI.printForm()"> 
											<a-glyph icon="file"></a-glyph> 	
											Print {{(SI.SFormTypes|filter:{id:SI.SFormType})[0].description}}
									</a-button>
								</a-col>
							</a-row>
							<hr/>
							<a-row>

								<a-col size="7">
									<m-formgroup ng-model="SI.AttachmentType" label="Document" options="SI.AttachmentTypes"></m-formgroup>
								</a-col>
								<a-col size="5"  align="right">
									<a-button style="margin-top:25px;" ng-disabled="!SI.AttachmentType || !SI.AttachmentFile" ng-click="SI.uploadAttachment()">
										<a-glyph icon="upload"></a-glyph>
										Upload document
									</a-button>
								</a-col>
								<a-col>
									<m-fileupload ng-show="SI.AttachmentType || SI.AttachmentFile" ng-model="SI.AttachmentFile" upload-url="api/inquiries/upload"  accept="pdf" validate="SI.FileValidations"></m-fileupload>
								</a-col>
							</a-row>
							<a-row>
								<a-col>
									<a-table headers="SI.IDHeaders" props="SI.IDProps" data="SI.InqDocs" is-preload="false" ng-model="SI.IDActiveFile"></a-table>
									<a-button type="success btn-block" ng-show="SI.IDActiveFile.id" ng-click="SI.viewFile()">
										<a-glyph icon="eye-open"></a-glyph>
										View File
									</a-button>
								</a-col>
							</a-row>
						</uib-tab>
						
					</uib-tabset>

					<p class="alert alert-warning hide">
						<b>NOTE:</b> 
						<b>Old Student</b> information can only be edited by the Registrar.<br/> <b>Inquiry</b> (New students)  can be modified by the Admissions Office.	
						<br/><br/>
						Changes will reflect as long as the student is not yet offficially enrolled. <br/>If there are modifications after enrollment, coordinate with the Registrar.
					</p>
				</a-col>
			</a-row>
		</a-modal-body>
		<a-modal-footer>
			<a-button opt-class="pull-left" ng-click="SI.closeModal()" > Close</a-button>
			<div ng-show="SI.ActiveTyp=='New'">
				
				<a-button ng-disabled="SI.saving || SI.isGatheringData || SI.ActiveTyp=='Old'" type="primary" ng-click="SI.confirmModal()">
					<span ng-if="!SI.saving">Confirm</span>
					<span ng-if="SI.saving">Saving...</span>
				</a-button>	
			</div>
			<div ng-show="SI.ActiveTyp=='Old'">
				<a-button ng-disabled="SI.saving || SI.isGatheringData || SI.ActiveTyp=='Old'" type="primary" ng-click="SI.confirmModal()">
					<span ng-if="!SI.saving">Confirm</span>
					<span ng-if="SI.saving">Saving...</span>
				</a-button>
			</div>
		</a-modal-footer>
	</a-modal>
	<form action="api/info_sheet" id="PrintInfoSheet" method="POST" target="_blank">
		<input type="hidden" id="InquiryID" name="InquiryID" value="{{SI.ActiveStudent.id}}">
	</form>

	<form action="api/reports/form_f1c" id="PrintInqForm1C" method="POST" target="_blank">
		<input type="hidden" id="InquiryID" name="InquiryID" value="{{SI.ActiveStudent.id}}">
	</form>
	<form action="api/reports/form_201" id="PrintInqForm201" method="POST" target="_blank">
		<input type="hidden" id="InquiryID" name="InquiryID" value="{{SI.ActiveStudent.id}}">
	</form>
	<form action="api/reports/form_cf1" id="PrintInqFormCF1" method="POST" target="_blank">
		<input type="hidden" id="InquiryID" name="InquiryID" value="{{SI.ActiveStudent.id}}">
	</form>
	<form action="api/reports/form_gf1" id="PrintInqFormGF1" method="POST" target="_blank">
		<input type="hidden" id="InquiryID" name="InquiryID" value="{{SI.ActiveStudent.id}}">
	</form>

	<form action="api/inquiries/files" id="ViewInqFile" method="GET" target="_blank">
		<input type="hidden" id="InquiryID" name="inquiry_id" value="{{SI.ActiveStudent.id}}">
		<input type="hidden" id="FileID" name="file_id" value="{{SI.IDActiveFile.id}}" />
		<input type="hidden" id="FileName" name="file_name" value="{{SI.IDActiveFile.file}}" />
	</form>
</div>