<div ng-controller="AssessmentController as ASC" ng-init="ASC.init()">
	<a-module>
		<a-container>
			<a-header>
				<m-search-student ng-model="ASC.ActiveStudent"
				is-large="true" obj-fields="ASC.StudFields"/>
			</a-header>
			<a-canvas>
				<a-content>
					<a-row>
						<!-- Fees and Subjects -->
						<a-col size="7">
							<uib-tabset type="pills" active="ASC.ActiveTabIndex">

								<uib-tab index="0" heading="Tuition" classes="btn-lg">
									<a-row ng-show="ASC.ShowSched">
										<a-col>
											<!-- Replace with a-table see app/#/atomic/docs -->
											<table class="table table-bordered">
												<thead>
													<tr>
														<th>Description</th>
														<th>Amount</th>
													</tr>
												</thead>
												<tbdoy>
													<tr ng-repeat="sched in ASC.Tuition.fee_breakdowns">
														<td>{{sched.description}}</td>
														<td>{{sched.amount}}</td>
													</tr>
												</tbdoy>
											</table>
										</a-col>
									</a-row>
									<a-row ng-show="ASC.ShowSched">
										<a-col>
											<a-table headers="ASC.Headers" props="ASC.Props" data="ASC.PaySched">

											</a-table>
										</a-col>
									</a-row>

								</uib-tab>
								<uib-tab index="1" heading="Subjects" classes="btn-lg">
									<a-row>
										<a-col>
											<table class="table table-bordered">
												<thead>
													<tr>
														<th>Subjects</th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td>Filipino</td>
													</tr>
													<tr>
														<td>English</td>
													</tr>
												</tbody>
											</table>
										</a-col>
									</a-row>

								</uib-tab>
							</uib-tabset>
						</a-col>

						<a-col size="5">
							<m-formgroup ng-model="ASC.ActiveStudent.name" label="Student" ng-disabled="true" ></m-formgroup>

							<label for="">Year Level</label>
							<select name="" id="" class="form-control" 
								ng-options="yl.id as yl.description for yl in ASC.YL | filter:{department_id:ASC.ActiveStudent.department_id}" 
								ng-model="ASC.year_level_id"
								ng-disabled="!ASC.ActiveStudent.id">
								<option value="">Select Year Level</option>
							</select>
							<label for="">Section</label>
							<select name="" id="" class="form-control" 
								ng-options="sc.id as sc.name for sc in ASC.Sections | filter:{year_level_id:ASC.year_level_id}" 
								ng-model="ASC.section_id"
								ng-change="ASC.selectSection()"
								ng-disabled="!ASC.year_level_id">
								<option value="">Select Section</option>
							</select>
							<label for="">Student Type</label>
							<select name="" id="" class="form-control"
								ng-options="s as s.name for s in ASC.Schemes"
								ng-change="ASC.SelectScheme(ASC.s)"
								ng-model="ASC.s">
							</select>
							
							<div class="pull-right" ng-show="ASC.ActiveStudent">
								<a-button size="lg">Close</a-button>
								<a-button size="lg" type="success">Save</a-button>
							</div>
						</a-col>
					</a-row>
				</a-content>
			</a-canvas>
		</a-container>
		
	</a-module>
</div>