<div ng-controller="AssessmentController as ASC" ng-init="ASC.init()">
	<a-module>
		<a-container>
			<a-header is-main="true">
				<a-row>
					<a-col size="3">
						<div class="btn-group btn-group-lg" style="margin-right:5px;margin-top:12px;margin-bottom: 2px;">
							<a-button type="default"  style="width:100px;" ng-click="ASC.isBatch=!ASC.isBatch">
								{{ASC.isBatch?'Level':'Student'}}
							</a-button>
							<a-button type="default" is-active="ASC.isBatch" ng-click="ASC.isBatch=true">
								<a-glyph icon="th-list"></a-glyph>
							</a-button>
							<a-button type="default" is-active="!ASC.isBatch" ng-click="ASC.isBatch=false">
								<a-glyph icon="user"></a-glyph>
							</a-button>

						</div>
					</a-col>
					<a-col size="9"  ng-show="!ASC.isBatch">
						<m-search-entity style="margin-top:12px;" ng-model="ASC.ActiveStudent" endpoint="'students/search'" search-fields="['first_name','last_name','middle_name']" obj-fields="ASC.StudFields" is-large="true" display-field="'display_name'"/>
					</a-col>
					<a-col size="9"  ng-show="ASC.isBatch">
						<a-row is-fluid="true">
							<a-col size="4">
								<label>Department</label>
								<m-navpill-dept   ng-model="ASC.BatchDeptId"></m-navpill-dept>
							</a-col>
							<a-col size="6">
								<label>Year Level</label><br>
								<a-navpill ng-model="ASC.BatchLevel" options="ASC.BatchLevels" type="button"></a-navpill>
								<span ng-show="!ASC.BatchLevels.length">
									{{ASC.BatchDeptId?'Not Applicable':'No Selection'}}
								</span>
							</a-col>
							<a-col size="2" align="right">
								<a-button style="margin-top:12px;" type="primary" size="lg" ng-click="ASC.LoadBatch()" ng-disabled="ASC.BatchStatus=='BATCH_LOADING'"
								ng-show="ASC.BatchStatus!=='BATCH_LOADED'&&ASC.BatchStatus!=='BATCH_RUNNING'&&ASC.BatchIndex==null"
								>
									{{ASC.BatchStatus=='BATCH_LOADING'?'Loading...':'Load Batch'}}
								</a-button>
								<a-button style="margin-top:12px;" type="success" size="lg" ng-click="ASC.StartBatch()"
								ng-disabled="ASC.BatchStatus=='BATCH_RUNNING'"
								ng-show="ASC.BatchStud.length" >
									{{ASC.BatchStatus=='BATCH_RUNNING'?'Running...':'Start Batch'}}
								</a-button>

							</a-col>
						</a-row>
					</a-col>
				</a-row>
			</a-header>
			<a-canvas>
				<a-content>
					<a-row ng-show="ASC.isBatch">
						<a-col>
							<a-table headers="ASC.Headers" props="ASC.Props" data="ASC.BatchStud" ng-model="ASC.ActiveBatchStud" is-preload="ASC.isBatch && ASC.BatchStatus=='BATCH_LOADING'" ng-model="ASC.ActiveBatchStud"></a-table>
						</a-col>
					</a-row>
					<a-row>
						<!-- Fees and Subjects -->
						<a-col size="7">
							<uib-tabset type="pills" active="ASC.ActiveTabIndex">
								<uib-tab index="0" heading="Tuition" classes="btn-lg">
									<a-row ng-show="ASC.ShowSched">
										<a-col>
											<!-- Replace with a-table see app/#/atomic/docs -->
											<m-formgroup ng-model="ASC.TuitionId" label="Tuitions" options="ASC.Tuitions" option-label="description" ></m-formgroup>
											<table class="table table-bordered">
												<thead>
													<tr>
														<th>Description</th>
														<th>Amount</th>
													</tr>
												</thead>
												<tbdoy>
													<tr ng-repeat="sched in ASC.Tuition.fee_breakdowns">
														<td>{{sched.description}}</td>
														<td>{{sched.amount | currency}}</td>
													</tr>
													<tr ng-if="ASC.Scheme.variance_amount!=null">
														<td>Subsidy</td>
														<td>{{ASC.Scheme.variance_amount | currency}}</td>
													</tr>
												</tbdoy>
												<tfoot>
													<tr>
														<td>Total</td>
														<td>{{ASC.TotalDue | currency}}</td>
													</tr>
												</tfoot>
											</table>
										</a-col>
									</a-row>
									<a-row ng-show="ASC.ShowSched">
										<a-col>
											<table class="table table-bordered">
												<thead>
													<tr>
														<th>Billing Period</th>
														<th>Amount</th>
													</tr>
												</thead>
												<tbody>
													<tr ng-repeat="s in ASC.PaySched">
														<td>{{s.billing_period}}</td>
														<td>{{s.amount | currency}}</td>
													</tr>
												</tbody>
												<tfoot>
													<tr>
														<td>Total</td>
														<td>{{ASC.TotalDue | currency}}</td>
													</tr>
												</tfoot>
											</table>
										</a-col>
										
									</a-row>

								</uib-tab>
								<uib-tab index="1" heading="Subjects" classes="btn-lg">
									<a-row ng-show="ASC.ShowSched">
										<a-col>
											<table class="table table-bordered">
												<thead>
													<tr>
														<th>Subjects</th>
													</tr>
												</thead>
												<tbody>
													<tr ng-repeat="sub in ASC.Subjects">
														<td>{{sub.name}}</td>
													</tr>
												</tbody>
											</table>
										</a-col>
									</a-row>

								</uib-tab>
							</uib-tabset>
						</a-col>

						<a-col size="5">
							
							<m-formgroup ng-model="ASC.ActiveSy" label="School Year" options="ASC.SYs" option-label="label"></m-formgroup>

							<m-formgroup ng-model="ASC.ActiveStudent.name" label="Student" ng-disabled="true"></m-formgroup>

							<m-formgroup label="Section" ng-model="ASC.section_id" options="ASC.Sections" ng-disabled="!ASC.ActiveStudent" option-group="year_level"></m-formgroup>

							 <m-formgroup label="Discount Type" ng-model="ASC.ActiveType" options="ASC.StudTypes" type="'btn-group'"ng-disabled="!ASC.ActiveStudent" ></m-formgroup>
							
							<div class="pull-right" ng-show="ASC.ActiveStudent">
								<a-button ng-click="ASC.ClearRecord()" >Close</a-button>
								<a-button  type="primary" ng-click="ASC.SaveAssessment()" ng-show="!ASC.Saving" ng-disabled='!ASC.ShowSched'>Save</a-button>
								<a-button type="primary" disabled ng-show="ASC.Saving">Saving...</a-button>
							</div>
						</a-col>
					</a-row>
				</a-content>
			</a-canvas>
		</a-container>
		
		
	</a-module>
	<script type="text/ng-template" id="assessmentModal.html">
		<div class="modal-body text-center">
			<button class="btn btn-success btn-fab btn-fab-drop" ng-class="{show:ShowButton}"><span class="glyphicon glyphicon-ok"></span></button>
			<h1>Success</h1>
			<p>Student can now proceed to the casheir.</p>
			
			<form action="api/student_registration_form" method="POST" target="_blank" id="PrintAssess">
				<input type="hidden" value="{{AssessmentId}}" name="AssessmentId" />
			</form>
		</div>
		<div class="modal-footer">
			<button class="btn btn-success btn-block" type="button" ng-click="dismissAssesment()">OK</button>
		</div>
		<form action="api/student_registration_form" method="POST" target="_blank" id="PrintAssess">
			<input type="hidden" value="{{AssessmentId}}" name="AssessmentId" />
		</form>
	</script>
</div>