<div ng-controller="AssessmentController as ASC" ng-init="ASC.init()">
	<a-module>
		<a-container>
			<a-header>
				<m-search-student ng-model="ASC.ActiveStudent"
				is-large="true" obj-fields="ASC.StudFields"/>
			</a-header>
			<a-canvas>
				<a-content>
					<a-row>
						<!-- Fees and Subjects -->
						<a-col size="7">
							<uib-tabset type="pills" active="ASC.ActiveTabIndex">

								<uib-tab index="0" heading="Tuition" classes="btn-lg">
									<a-row ng-show="ASC.ShowSched">
										<a-col>
											<!-- Replace with a-table see app/#/atomic/docs -->
											<table class="table table-bordered">
												<thead>
													<tr>
														<th>Description</th>
														<th>Amount</th>
													</tr>
												</thead>
												<tbdoy>
													<tr ng-repeat="sched in ASC.Tuition.fee_breakdowns">
														<td>{{sched.description}}</td>
														<td>{{sched.amount | currency}}</td>
													</tr>
													<tr ng-if="ASC.Scheme.variance_amount!=null">
														<td>Subsidy</td>
														<td>{{ASC.Scheme.variance_amount | currency}}</td>
													</tr>
												</tbdoy>
												<tfoot>
													<tr>
														<td>Total</td>
														<td>{{ASC.TotalDue | currency}}</td>
													</tr>
												</tfoot>
											</table>
										</a-col>
									</a-row>
									<a-row ng-show="ASC.ShowSched">
										<a-col>
											<table class="table table-bordered">
												<thead>
													<tr>
														<th>Billing Period</th>
														<th>Amount</th>
													</tr>
												</thead>
												<tbody>
													<tr ng-repeat="s in ASC.PaySched">
														<td>{{s.billing_period}}</td>
														<td>{{s.amount | currency}}</td>
													</tr>
												</tbody>
												<tfoot>
													<tr>
														<td>Total</td>
														<td>{{ASC.TotalDue | currency}}</td>
													</tr>
												</tfoot>
											</table>
										</a-col>
										
									</a-row>

								</uib-tab>
								<uib-tab index="1" heading="Subjects" classes="btn-lg">
									<a-row ng-show="ASC.ShowSched">
										<a-col>
											<table class="table table-bordered">
												<thead>
													<tr>
														<th>Subjects</th>
													</tr>
												</thead>
												<tbody>
													<tr ng-repeat="sub in ASC.Subjects">
														<td>{{sub.name}}</td>
													</tr>
												</tbody>
											</table>
										</a-col>
									</a-row>

								</uib-tab>
							</uib-tabset>
						</a-col>

						<a-col size="5">
							
							<m-formgroup ng-model="ASC.ActiveSy" label="School Year" options="ASC.SYs" option-label="label"></m-formgroup>
							<m-formgroup ng-model="ASC.ActiveStudent.name" label="Student" ng-disabled="true"></m-formgroup>
							<h4>Discount Type</h4>
							<a-navpill ng-model="ASC.ActiveType" options="ASC.StudTypes" ></a-navpill>
							<m-formgroup label="Section" ng-model="ASC.section_id" options="ASC.Sections" ng-disabled="!ASC.ActiveStudent" ></m-formgroup>
							
							<div class="pull-right" ng-show="ASC.ActiveStudent">
								<a-button ng-click="ASC.ClearRecord()" >Close</a-button>
								<a-button  type="primary" ng-click="ASC.SaveAssessment()" ng-show="!ASC.Saving" ng-disabled='!ASC.ShowSched'>Save</a-button>
								<a-button type="primary" disabled ng-show="ASC.Saving">Saving...</a-button>
							</div>
						</a-col>
					</a-row>
				</a-content>
			</a-canvas>
		</a-container>
		
		
	</a-module>
	<script type="text/ng-template" id="assessmentModal.html">
		<div class="modal-body text-center">
			<button class="btn btn-success btn-fab btn-fab-drop" ng-class="{show:ShowButton}"><span class="glyphicon glyphicon-ok"></span></button>
			<h1>Success</h1>
			<p>Student can now proceed to the casheir.</p>
			
			<form action="api/student_registration_form" method="POST" target="_blank" id="PrintAssess">
				<input type="hidden" value="{{AssessmentId}}" name="AssessmentId" />
			</form>
		</div>
		<div class="modal-footer">
			<button class="btn btn-success btn-block" type="button" ng-click="dismissAssesment()">OK</button>
		</div>
		<form action="api/student_registration_form" method="POST" target="_blank" id="PrintAssess">
			<input type="hidden" value="{{AssessmentId}}" name="AssessmentId" />
		</form>
	</script>
</div>