<div ng-controller="EnrollmentController as EC" ng-init="EC.init()">
	<a-module>
		<a-container>
			<a-header>
				<a-row>
					<a-col size="6">
						<h4>Enrollment Report</h4>
					</a-col>
					<a-col size="6">
						<o-dropdown-filter ng-model="EC.Active" show-section="false" show-sem="false" show-period="false" class="pull-right" >
						</o-dropdown-filter>
					</a-col>
				</a-row>
			</a-header>
			<a-header>
				<a-row>
					<a-col size="6">
						<ul class="nav nav-pills">
							<li ng-repeat="opt in EC.Options" 
							ng-click="EC.setActOption(opt)" 
							ng-class="{active:EC.ActiveOpt===(opt)}">
								<a>{{opt}}</a>
							</li>
						</ul>
					</a-col>
					<a-col size="4" ng-show="EC.ActiveOpt=='Summary'">
						<div class="input-group pull-right">
							<span class="input-group-addon">Date:</span>
							<input type="date" class="form-control" ng-model="EC.date" ng-disabled="EC.Enrollment.overall.length" />
						</div>
					</a-col>
					<a-col size="2" ng-show="EC.ActiveOpt=='Summary'">
						<button class="btn btn-default" ng-click="EC.LoadReport()" ng-show="!EC.Enrollment.overall.length">Load</button>
						<button class="btn btn-default" ng-click="EC.Clear()" ng-show="EC.Enrollment.overall.length">Clear</button>
						<button class="btn btn-primary" ng-click="EC.Print()" ng-disabled="!EC.Enrollment.overall.length" >Print</button>
					</a-col>
				</a-row>
			</a-header>
			<a-canvas>
				<a-content ng-show="EC.Enrollment.overall.length&&EC.ActiveOpt=='Summary'">
					<a-row>
						<a-col size="12">
							<h4>Enrollment report for {{EC.date | date:'dd MMM yyyy'}}</h4>
							<table class="table table-bordered table-condensed">
								<thead class="text-center">
									<tr>
										<th colspan="6"></th>
										<th colspan="4" class="text-center">Grade 11</th>
										<th colspan="4" class="text-center">Grade 12</th>
									</tr>
									<tr>
										<th class="text-center">Date</th>
										<th class="text-center">Day</th>
										<th class="text-center">G7</th>
										<th class="text-center">G8</th>
										<th class="text-center">G9</th>
										<th class="text-center">G10</th>
										<th class="text-center">ABM</th>
										<th class="text-center">STEM</th>
										<th class="text-center">TVL</th>
										<th class="text-center">HUMSS</th>
										<th class="text-center">ABM</th>
										<th class="text-center">STEM</th>
										<th class="text-center">TVL</th>
										<th class="text-center">HUMSS</th>
										<th class="text-center">Total</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>{{EC.Enrollment.today.date | date:'dd-MMM-yy'}}</td>
										<td>{{EC.Enrollment.today.day}}</td>
										<td>{{EC.Enrollment.today.levels.G7}}</td>
										<td>{{EC.Enrollment.today.levels.G8}}</td>
										<td>{{EC.Enrollment.today.levels.G9}}</td>
										<td>{{EC.Enrollment.today.levels.GX}}</td>
										<td>{{EC.Enrollment.today.levels.GYABM}}</td>
										<td>{{EC.Enrollment.today.levels.GYSTEM}}</td>
										<td>{{EC.Enrollment.today.levels.GYTVL}}</td>
										<td>{{EC.Enrollment.today.levels.GYHUMS}}</td>
										<td>{{EC.Enrollment.today.levels.GZABM}}</td>
										<td>{{EC.Enrollment.today.levels.GZSTEM}}</td>
										<td>{{EC.Enrollment.today.levels.GZTVL}}</td>
										<td>{{EC.Enrollment.today.levels.GZHUMS}}</td>
										<td>{{EC.Enrollment.today.total}}</td>
									</tr>
								</tbody>
							</table>
						</a-col>
					</a-row>
					<a-row>
						<a-col size="12">
							<h4>Overall Enrollment as of Today</h4>
							<table class="table table-bordered table-condensed">
								<thead>
									<tr>
										<th colspan="7"></th>
										<th colspan="4" class="text-center">Grade 11</th>
										<th colspan="4" class="text-center">Grade 12</th>
									</tr>
									<tr class="text-center">
										<th class="text-center">ED</th>
										<th class="text-center">Date</th>
										<th class="text-center">Day</th>
										<th class="text-center">G7</th>
										<th class="text-center">G8</th>
										<th class="text-center">G9</th>
										<th class="text-center">G10</th>
										<th class="text-center">ABM</th>
										<th class="text-center">STEM</th>
										<th class="text-center">TVL</th>
										<th class="text-center">HUMSS</th>
										<th class="text-center">ABM</th>
										<th class="text-center">STEM</th>
										<th class="text-center">TVL</th>
										<th class="text-center">HUMSS</th>
										<th class="text-center">total</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="item in EC.Enrollment.overall">
										<td>{{$index + 1}}</td>
										<td>{{item.date | date:'dd-MMM-yy'}}</td>
										<td>{{item.day}}</td>
										<td>{{item.levels.G7}}</td>
										<td>{{item.levels.G8}}</td>
										<td>{{item.levels.G9}}</td>
										<td>{{item.levels.GX}}</td>
										<td>{{item.levels.GYABM}}</td>
										<td>{{item.levels.GYSTEM}}</td>
										<td>{{item.levels.GYTVL}}</td>
										<td>{{item.levels.GYHUMS}}</td>
										<td>{{item.levels.GZABM}}</td>
										<td>{{item.levels.GZSTEM}}</td>
										<td>{{item.levels.GZTVL}}</td>
										<td>{{item.levels.GZHUMS}}</td>
										<td>{{item.total}}</td>
									</tr>
								</tbody>
								<tfoot>
									<tr>
										<td colspan="3">Grand Total</td>
										<td>{{EC.Enrollment.totals.levels.G7}}</td>
										<td>{{EC.Enrollment.totals.levels.G8}}</td>
										<td>{{EC.Enrollment.totals.levels.G9}}</td>
										<td>{{EC.Enrollment.totals.levels.GX}}</td>
										<td>{{EC.Enrollment.totals.levels.GYABM}}</td>
										<td>{{EC.Enrollment.totals.levels.GYSTEM}}</td>
										<td>{{EC.Enrollment.totals.levels.GYTVL}}</td>
										<td>{{EC.Enrollment.totals.levels.GYHUMS}}</td>
										<td>{{EC.Enrollment.totals.levels.GZABM}}</td>
										<td>{{EC.Enrollment.totals.levels.GZSTEM}}</td>
										<td>{{EC.Enrollment.totals.levels.GZTVL}}</td>
										<td>{{EC.Enrollment.totals.levels.GZHUMS}}</td>
										<td>{{EC.Enrollment.totals.total}}</td>
									</tr>
								</tfoot>
							</table>
						</a-col>
					</a-row>
				</a-content>
				<a-content ng-show="EC.ActiveOpt=='List'&&EC.Lists.length">
					<a-row>
						<a-col>
							<table class="table table-bordered table-condensed">
								<thead>
									<tr>
										<th class="text-center">Level</th>
										<th class="col-md-5 text-center">Name</th>
										<th class="col-md-3 text-center">Date Enrolled</th>
										<th class="text-center">OR</th>
									</tr>
								</thead>
								<tbody ng-repeat="item in EC.Lists">
									<tr ng-repeat="list in item.lists">
										<td rowspan="{{item.lists.length}}" class="text-center" ng-show="$index==0">{{item.level}}</td>
										<td>{{list.name}}</td>
										<td>{{list.transac_date}}</td>
										<td>{{list.ref_no}}</td>
									</tr>
								</tbody>
							</table>
						</a-col>
					</a-row>
				</a-content>
				<a-content ng-show="EC.Loading" style="height: 100%">
					<div class="empty-state">
						<div class="well text-center">
							<div class="empty-state-icon text-center">
								<i class="glyphicon glyphicon-refresh spin"></i>
							</div>
							<h4>Loading Enrollment report...</h4>
						</div>
					</div>
				</a-content>
			</a-canvas>
		</a-container>
	</a-module>
	<form action="api/reports/enrollment" id="PrintEnrollment" method="POST" target="_blank">
		<input type="hidden" value="{{EC.Enrollment}}" name="enrollments">
	</form>
</div>