<div ng-controller="RegFormController as RFC" ng-init="RFC.init()">
	<a-module>
		<a-container>
			<a-header is-main="true">
				<a-row>
					<a-col size="6">
						<h4>Registration Form</h4>
					</a-col>
					<a-col size="6">
						<o-dropdown-filter ng-model="RFC.Active" show-section="false" show-sem="false" show-period="false" class="pull-right" >
						</o-dropdown-filter>
					</a-col>
				</a-row>
			</a-header>
			<a-header>
				<a-row>
					
					<a-col size="RFC.isBatch?9:11" align="left">
						
							<div class="btn-group pull-left" style="margin-right:5px;">
								<a-button type="default"  style="width:80px;" ng-click="RFC.isBatch=!RFC.isBatch">
									{{RFC.isBatch?'Section':'Student'}}
								</a-button>
								<a-button type="default" is-active="RFC.isBatch" ng-click="RFC.isBatch=true">
									<a-glyph icon="th-list"></a-glyph>
								</a-button>
								<a-button type="default" is-active="!RFC.isBatch" ng-click="RFC.isBatch=false">
									<a-glyph icon="user"></a-glyph>
								</a-button>
							</div>

								<m-search-entity ng-show="!RFC.isBatch" ng-model="RFC.Student"></m-search-entity>
								<m-navpill-dept  ng-show="RFC.isBatch"  ng-model="RFC.ActiveDeptId"></m-navpill-dept>
								<a-dropdown ng-show="RFC.isBatch" ng-model="RFC.ActiveSection" label='Select Section' options="RFC.ActiveSections"></a-dropdown>


					</a-col>
					<a-col size="RFC.isBatch?3:1" align="right">
						<a-button type="primary" ng-disabled="!RFC.ActiveSection||RFC.Loading" ng-click="RFC.Load()">
							{{RFC.Loading?'WAIT...':'LOAD'}}
						</a-button>
					</a-col>
				</a-row>
			</a-header>
			<a-canvas>
				<a-content style="height:100%;">
					<form action="api/reports/reg_form/" method="POST"  target="RegFormFrame" id="PrintRegForm">
						<input type="hidden" name="Type" value="{{RFC.ActiveOpt}}"/>
						<input type="hidden" name="Sy" value="{{RFC.ActiveSY}}"/>
						<input type="hidden" name="Section" value="{{RFC.ActiveSection.id}}"/>
						<input type="hidden" name="secret" value="{{RFC.RequestHash}}"/>
					</form>
					<div class="loader fade out"
						ng-class="{'out':!RFC.Loading,'in':RFC.Loading&&RFC.ActiveSection}"
					 ></div>
					<iframe 
						name="RegFormFrame" 
						class="fade" 
						ng-class="{'out':RFC.Loading,'in':!RFC.Loading}"
						id="RegFormFrame" 
						frameborder="0" 
						style="width:100%;height:100%;display:block;">
					</iframe>
				</a-content>
			</a-canvas>
		</a-container>
	</a-module>
</div>