<div class="row" ng-controller="CollegeAssesmentController" ng-init="init()">
	<div class="col-md-12">
		<ul class="nav nav-pills nav-wizard">
			<li ng-class="{active:ActiveStep===step.id}" ng-repeat="step in Steps" ng-click="updateStep(step)">
				<div ng-if="!$first" class="nav-wedge"></div>
				<a data-toggle="tab"><span class="badge">{{step.id}}</span> {{step.description}}</a>
				<div ng-if="!$last" class="nav-arrow"></div>
			</li>
		</ul>
	</div>
	<div class="col-md-6">
		<div class="list-group">
			<div class="list-group-item list-group-header">
				<label> Summary</label>
				<div class="pull-right">
					<button class="btn btn-xs btn-info" > <span class="glyphicon glyphicon-cog" aria-hidden="true"></span></button>
					<button class="btn btn-xs btn-danger" ng-click="initAssessment()"> <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
				</div>
			</div>
			<div class="list-group-canvas">
				<div class="list-group-item" ng-show="!ActiveStudent">
					<div class="empty-state">
						<div class="well">
							<div class="empty-state-icon">
								<i class="glyphicon glyphicon-apple"></i>
							</div>
							<h4>Assessment not yet started!</h4>
							<p class="empty-state-message">Choose a student and assess.</p>
						</div>
						<div class="empty-state-help alert alert-info"> 
							<span class="empty-state-action-icon glyphicon glyphicon-chevron-right"></span> Click to proceed, after completing each step.
						</div>
					</div>
				</div>
				<div class="list-group-item" ng-show="ActiveStudent">
					<div class="row">
						<div class="col-md-8">
							<dd>
								<dt>Student</dt>
								<dd>{{SelectedStudent.id}} | {{SelectedStudent.name}}</dd><br />
								<span>{{SelectedStudent.program_id}}</span> |
								<span ng-show="ActiveSection">{{ActiveSection.name}}</span>
							</dd>
						</div>
						<div class="col-md-4 amount amount-total">
							<label>Total</label>
							<h3>
								<div class="amount total peso" ng-show="!TotalDiscounted">{{TotalFee}}</div>
								<div class="amount total peso" ng-show="TotalDiscounted">{{TotalDiscounted}}</div>
							</h3>
						</div>
					</div>
				</div>
				<div class="list-group-item list-group-header" ng-show="level2">
					<label>Subject and Schedule</label>
				</div>
				<div class="list-group-item" ng-show="level2">
					<div class="row">
						<div class="col-md-12">
							<table class="table table-bordered table-condensed">
								<thead>
									<tr >
										<th class="text-center">Subjects</th>
										<th colspan="2" class="text-center">Schedule</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="sub in SubjectsEnrolled">
										<td>{{sub.code}}</td>
										<td ng-show="SelectedSchedule" ng-repeat="sched in SelectedSchedule | filter:{subject:sub.code}">{{sched.detail.day}} | {{sched.detail.start_time}} - {{sched.detail.end_time}}</td>
										<td ng-show="ActiveStep===3"></td>
										<td ng-show="ActiveStep===3"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="list-group-item list-group-header" ng-show="ShowBreakDown">
					<label>Tuition Breakdown</label>
				</div>
				<div class="list-group-item" ng-show="ShowBreakDown">
					<div class="row">
						<div class="col-md-12">
							<table class="table table-condensed table-bordered table-amounts">
								<thead class="text-center">
									<tr>
										<th class="text-center">Description</th>
										<th class="text-center">Amount</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="fee in Fees">
										<td>{{fee.desc}}</td>
										<td class="amount">{{fee.amount}}</td>
									</tr>
								</tbody>
								<tfoot>
									<tr>
										<td>Total Due</td>
										<td><div class="amount peso">{{TotalFee | currency}}</div></td>
									</tr>
								</tfoot>
							</table>
						</div>
					</div>
				</div>
				<div class="list-group-item list-group-header" ng-show="PaymentMethod">
					<label>Payment Schedule</label>
				</div>
				<div class="list-group-item" ng-show="PaymentMethod">
					<div class="row">
						<div class="col-md-12">
							<table class="table table-bordered table-condensed">
								<thead>
									<tr>
										<th>Billing Period</th>
										<th>Amount</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="pm in PaymentMethod">
										<td>{{pm.desc}}</td>
										<td class="amount">{{pm.amount | currency}}</td>
									</tr>
									<tr>
										<td>Total</td>
										<td class="amount" ng-show="!TotalDiscounted">{{TotalFee  | currency}}</td>
										<td class="amount" ng-show="TotalDiscounted">{{TotalDiscounted | currency}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="list-group">
			<button class="btn btn-primary btn-fab top right" ng-click="nextStep()" ng-disabled="AssesmentSaving||!SelectedStudent">
				<span class="glyphicon " ng-class="{'glyphicon-chevron-right':ActiveStep!=6,'glyphicon-ok': ActiveStep===6}"  aria-hidden="true"></span>
			</button>
			<div class="list-group">
				<div class="list-group-item list-group-header">
					<button class="btn btn-xs btn-danger" ng-click="resetField('student')"> <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
					<button class="btn btn-xs btn-warning" ng-click="prevStep()" ng-show="ActiveStep!==1"> <span class="glyphicon glyphicon-chevron-left"></span></button>
					<label>{{Steps[ActiveStep-1].title}}</label>
				</div>
				<div class="list-group-canvas ng-class:{'list-group-search-results':ActiveStep===1}">
					<div class="list-group-item list-group-header">
						<h5>{{Steps[ActiveStep-1].description}}</h5>
						<button class="btn btn-xm btn-success" ng-show="ActiveStep===3&&!Customize"
							ng-click="CustomizeSched()">customize</button>
						<button class="btn btn-xm btn-success" ng-show="ActiveStep===3&&Customize"
							ng-click="Block()">block section</button>
					</div>
					<div class="list-group-item text-center" ng-if="!Students.length">
						<div class="preloader-message">Loading...</div>
						<div class="loader"></div>
					</div>
					
					
					<div  ng-show="ActiveStep===1" class="list-group-item ng-class:{active:student.id===SelectedStudent.id}" ng-repeat="student in Students | filter:filterStudent" ng-click="setSelectedStudent(student)">
						<h4 class="list-group-item-heading">{{student.last_name}}, {{student.first_name}}, {{student.middle_name}} {{student.suffix_name}}</h4>
						<p class="list-group-item-text">
						<span>{{student.department_id}}</span> | <span>{{student.program_id}}</span></p>
					</div>
					
					
					<div class="list-group-item ng-class:{active:subject.active===1}" 
						ng-show="ActiveStep===2" 
						ng-repeat="subject in Subjects | filter:{year_level_id:'T1'}"
						ng-click="PickSubjects(subject,$index)">
						<h4 class="list-group-item-header">{{subject.description}}</h4>
						<span>{{subject.code}}</span>
					</div>
					
					<div class="list-group-item ng-class:{active:ActiveSection.id===section.id}" ng-repeat="section in Sections | filter:{program_id:SelectedStudent.program_id}"
						ng-show="ActiveStep===3&&!Customize"
						ng-click="SetSection(section)">
						<h4 class="list-group-item-header">{{section.name}}</h4>
						<span></span>
						
					</div>
					<div class="list-group-item list-group-header" ng-show="Customize">
						<label>Class Schedule</label>
					</div>
					<div class="list-group-item" ng-repeat="sched in ClassSchedules" 
						ng-show="Customize">
						<h4 class="list-group-item-header">{{sched.schedule_code}}</h4>
						<span>{{sched.subject}}</span><br />
						<span ng-repeat="detail in sched.details">
							<button class="btn btn-default btn-xs" ng-click="SetCustomSched(sched,detail)">
								<span >
									{{detail.day}} : {{detail.room}} | {{detail.start_time}}-{{detail.end_time}}
								</span>
							</button>
						</span>
					</div>
					
					<div class="list-group-item ng-class:{active:ActivePm.id==pm.id}" ng-show="ActiveStep===4"
						ng-repeat="pm in Payments" ng-click="SelectPayment(pm)">
						<h4 class="list-group-item-header">{{pm.desc}}</h4>
						<span>{{pm.terms}} - time - payment</span>
					</div>
					<div class="list-group-item ng-class:{active:ActiveDiscount.id==dc.id}" ng-show="ActiveStep===5"
						ng-repeat="dc in Discounts"
						ng-click="ChooseDiscount(dc)">
						<h4 class="list-group-item-header">{{dc.desc}}</h4>
						<span class="list-group-item-text">{{dc.disc}}% Discount on all fees</span>
					</div>
				</div>
				<div style="padding:10px;" ng-show="ActiveStep===1">
					<div class="input-group col-md-12">
						<input type="text" class="form-control" placeholder="Search by name" 
						ng-change="SearchStudent()" ng-model="SearchWord" />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>