<div class="row" ng-controller="AssesmentController" ng-init="index()">
	<div class="col-md-12">
		<ul class="nav nav-pills nav-wizard">
			<li ng-class="{active:ActiveStep===step.id}" ng-repeat="step in Steps" ng-click="updateStep(step)">
				<div ng-if="!$first" class="nav-wedge"></div>
				<a data-toggle="tab"><span class="badge">{{step.id}}</span> {{step.description}}</a>
				<div ng-if="!$last" class="nav-arrow"></div>
			</li>
		</ul>
	</div>
	<div class="col-md-6">
		<div class="list-group">
			<div class="list-group-item list-group-header">
				<label> Summary</label>
				<div class="pull-right">
					<button class="btn btn-xs btn-info" > <span class="glyphicon glyphicon-cog" aria-hidden="true"></span></button>
					<button class="btn btn-xs btn-danger" ng-click="initAssessment()"> <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
				</div>
			</div>
			<div class="list-group-canvas">
				<div class="list-group-item" ng-if="!hasInfo">
					<div class="empty-state">
						<div class="well">
							<div class="empty-state-icon">
								<i class="glyphicon glyphicon-apple"></i>
							</div>
							<h4>Assessment not yet started!</h4>
							<p class="empty-state-message">Choose a student and assess.</p>
						</div>
						<div class="empty-state-help alert alert-info"> 
							<span class="empty-state-action-icon glyphicon glyphicon-chevron-right"></span> Click to proceed, after completing each step.
						</div>
					</div>
				</div>
				<div class="list-group-item" ng-show="hasStudentInfo || hasLevelInfo">
					<div class="row">
						<div class="col-md-8">
							<dl>
								<dt>Student</dt>
								<dd>{{ActiveStudent.id}} <span ng-if="ActiveStudent.id">| {{ActiveStudent.name}}</span></dd>
								<dt ng-if="hasLevelInfo">Level / Section</dt>
								<dd ng-if="hasLevelInfo">{{ActiveLevel.name}} <span ng-if="ActiveSection.id">- {{ActiveSection.name}}</span></dd>
								<dt ng-if="hasSchemeInfo">Payment Scheme</dt>
								<dd ng-if="hasSchemeInfo">{{ActiveScheme.name}}</dd>	
							</dl>
						</div>
						<div class="col-md-4 amount amount-total">
							<label>Total</label>
							<h3><div class="amount total peso">{{TotalAmount | currency}}</div></h3>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="list-group">
			<button class="btn btn-primary btn-fab top right" ng-click="nextStep()" ng-disabled="AssesmentSaving">
				<span class="glyphicon " ng-class="{'glyphicon-chevron-right':ActiveStep!=6,'glyphicon-ok': ActiveStep===6}"  aria-hidden="true"></span>
			</button>
			<div class="list-group" ng-show="ActiveStep===1">
				<div class="list-group-item list-group-header">
					<button class="btn btn-xs btn-danger" ng-click="resetField('student')"> <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
					<label>{{Steps[0].title}}</label>
				</div>
				<div class="list-group-canvas list-group-search-results">
					<div class="list-group-item list-group-header">
						<h5>{{Steps[0].description}}</h5>
					</div>
					<div class="list-group-item text-center" ng-if="!Students.length">
						<div class="preloader-message">Loading...</div>
						<div class="loader"></div>
					</div>
					<div class="list-group-item ng-class:{active:student.id===SelectedStudent.id}" ng-repeat="student in Students | filter:filterStudent" ng-click="setSelectedStudent(student)">
						<h4 class="list-group-item-heading">{{student.first_name}} {{student.last_name}} {{student.middle_name}} {{student.suffix_name}}</h4>
						<p class="list-group-item-text">
						<span>{{student.id}}</span> | <span>{{student.year_level_id}}</span></p>
					</div>
				</div>
				<div class="list-group-item list-group-search-box">
					<div class="input-group"> 
						<div class="input-group-btn"><button class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button></div>
						<input type="text" class="form-control" placeholder="Search" ng-model="searchStudent" focus="ActiveStep===1&&!__SIDEBAR_OPEN"/>
						<div class="input-group-btn"><button class="btn btn-default" ng-click="clearSearchStudent()"><span class="glyphicon glyphicon-remove"></span></button></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>