<div ng-controller="AssesmentController" ng-init="index()">
	<a href="#/" class="btn btn-default btn-fab fixed top right">
		<span class="glyphicon glyphicon-home"></span>
	</a>
	<div class="row">
		<div class="col-md-12">
			<ul class="nav nav-pills nav-wizard">
				<li ng-class="{active:ActiveStep===step.id}" ng-repeat="step in Steps" disabled>
					<div ng-if="!$first" class="nav-wedge"></div>
					<a data-toggle="tab"><span class="badge" disabled >{{step.id}}</span> {{step.description}}</a>
					<div ng-if="!$last" class="nav-arrow"></div>
				</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="list-group">
				<div class="list-group-item list-group-header">
					<label for="">Summary</label>
					<div class="pull-right">
						<button class="btn btn-xs btn-info" > <span class="glyphicon glyphicon-cog" aria-hidden="true"></span></button>
						<button class="btn btn-xs btn-danger" ng-click="init()">Cancel</button>
					</div>
				</div>
				<div class="list-group-canvas">
					<div class="list-group-item" ng-if="!hasInfo">
						<div class="empty-state">
							<div class="well">
								<div class="empty-state-icon">
									<i class="glyphicon glyphicon-apple"></i>
								</div>
								<h4>Assessment not yet started!</h4>
								<p class="empty-state-message">Choose a student and assess.</p>
							</div>
							<div class="empty-state-help alert alert-info"> 
								<span class="empty-state-action-icon glyphicon glyphicon-chevron-right"></span> Click to proceed, after completing each step.
							</div>
						</div>
					</div>		
					<div class="list-group-item" ng-show="hasStudentInfo || hasLevelInfo">
						<div class="row">
							<div class="col-md-8">
								<dl>
									<dt>Student</dt>
									<dd>{{ActiveStudent.id}} <span ng-if="ActiveStudent.id">| {{ActiveStudent.name}}</span></dd>
									<dt ng-if="hasLevelInfo">Level / Section</dt>
									<dd ng-if="hasLevelInfo">{{ActiveLevel.name}} <span ng-if="ActiveSection.id">- {{ActiveSection.name}}</span></dd>
									<dt ng-if="hasSchemeInfo">Payment Scheme</dt>
									<dd ng-if="hasSchemeInfo">{{ActiveScheme.name}}</dd>	
								</dl>
							</div>
							<div class="col-md-4 amount amount-total">
								<label>Total</label>
								<h3><div class="amount total peso">{{TotalAmount | currency}}</div></h3>
							</div>
						</div>
					</div>
					<div class="list-group-item list-group-header" ng-show="ActiveTuition.fee_breakdowns">
						<ul class="nav nav-pills">
							<li ng-repeat="tab in Tabs" ng-class="{active:ActiveTab.id==tab.id}" 
								ng-click="setActiveTab(tab)"><a>{{tab.description}}</a>
							</li>
						</ul>
					</div>
					<div class="list-group-item" ng-show="ActiveTab.id==1&&ShowInfo&&ActiveTuition.fee_breakdowns.length">
						<table class="table table-condensed table-bordered table-amounts">
							<thead>
								<tr>
									<th class="text-center">Description</th>
									<th class="text-center">Amount</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="fee in ActiveTuition.fee_breakdowns | orderBy:'order'">
									<td>{{fee.description}}</td>
									<td><div class="amount" >{{fee.amount | currency: ''}}</div></td>
								</tr>
							</tbody>
							<tfoot> 
								<tr ng-if="ActiveTuition.fee_breakdowns.length">
									<td>Total Due</td>
									<td><div class="amount peso">{{TotalDue | currency}}</div></td>
								</tr>
							</tfoot>
						</table>
					</div>
					<div class="list-group-item" ng-show="ActiveTab.id==4&&(ActiveScheme.variance_amount||AdvancePayment)">
						<table class="table table-condensed table-bordered table-amounts">
							<thead>
								<tr>
									<th class="text-center">Description</th>
									<th class="text-center">Amount</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-if="ActiveScheme.variance_amount>0">
									<td>Interest Charge</td>
									<td><div class="amount peso">{{ActiveScheme.variance_amount | currency}}</div></td>
								</tr>
								<tr ng-if="ActiveScheme.variance_amount<0">
									<td>{{ActiveScheme.name}} Subsidy</td>
									<td><div class="amount peso">{{ActiveScheme.variance_amount | currency}}</div></td>
								</tr>
								<tr ng-repeat="disc in ActiveDiscounts">
									<td>Discount: {{disc.name}}</td>
									<td class="amount total peso">{{disc.amount}}</td>
								</tr>
								<tr ng-if="AdvancePayment||Reservations" ng-repeat="res in Reservations">
									<td>{{res.description}}</td>
									<td class="amount total peso">{{-res.amount | currency}}</td>
								</tr>
							</tbody>
							<tfoot> 
								<tr ng-if="TotalDiscount">
									<td>Total Adjustment</td>
									<td><div class="amount peso">{{TotalDiscount | currency}}</div></td>
								</tr>
							</tfoot>
						</table>
					</div>
					<div class="list-group-item" ng-show="ActiveTab.id==4&&(!ActiveScheme.variance_amount&&!AdvancePayment)">
						<div class="empty-state">
							<div class="well">
								<div class="empty-state-icon">
									<i class="glyphicon glyphicon-exclamation-sign"></i>
								</div>
								<h4>No Adjustment</h4>
							</div>
						</div>
					</div> 
					<div class="list-group-item" ng-show="ActiveTab.id==2&&ShowInfo&&ActiveSchedule.schedule_details">
						<table class="table table-bordered table-condensed text-center align-middle">
							<thead>
								<tr>
									<th class="col-md-5">Subject</th>
									<th>Schedule</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="sched in ActiveSchedule.schedule_details">
									<td>{{sched.subject}}</td>
									<td ng-show="!sched.no_sched">{{sched.days}} | {{sched.times}} | {{sched.rooms}}</td>
									<td ng-show="sched.no_sched">Schedule not set</td>
									
								</tr>
							</tbody>
						</table>
					</div>
					
					<div class="list-group-item" ng-show="ActiveTab.id==3&&ShowInfo&&ActiveScheme.schedule.length"> 
						<table class="table table-condensed table-bordered table-amounts">
							<thead>
								<tr>
									<th class="text-center">Billing Period</th>
									<th class="text-center">Amount</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="sched in ActiveScheme.schedule">
									<td>{{sched.description}}</td>
									<td>
										<div class="amount pull-right peso">{{sched.amount | currency}}</div>
									</td>
								</tr>
								
							</tbody>
							<tfoot> 
								<tr ng-if="TotalAmount">
									<td>Total Amount</td>
									<td><div class="amount peso">{{TotalAmount | currency}}</div></td>
								</tr>
							</tfoot>
						</table>
					</div>
					<div class="list-group-item" ng-show="ActiveTab.id==3&&!ActiveScheme.schedule.length">
						<div class="empty-state">
							<div class="well">
								<div class="empty-state-icon">
									<i class="glyphicon glyphicon-exclamation-sign"></i>
								</div>
								<h4>No Payment Scheme selected!</h4>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<button class="btn btn-primary btn-fab top right" ng-click="nextStep()" ng-disabled="Disabled">
				<span class="glyphicon " ng-class="{'glyphicon-chevron-right':ActiveStep!=Steps.length,'glyphicon-ok': ActiveStep==Steps.length}"  aria-hidden="true"></span>
			</button>
			<div class="list-group" ng-show="ActiveStep===1">
				<div class="list-group-item list-group-header">
					<button class="btn btn-xs btn-danger" ng-click="resetField('student')"> <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
					<button class="btn btn-xs btn-warning" ng-click="prevStep()"> <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></button>
					<label>{{Steps[0].title}}</label>
				</div>
				<div class="list-group-canvas list-group-search-results">
					<div class="list-group-item list-group-header">
						<h5>{{Steps[0].description}}</h5>
						<ul class="nav nav-pills">
							<li ng-repeat="opt in Options" ng-class="{active:ActiveOpt==opt}" ng-click="setActiveOpt(opt)"><a>{{opt}}</a></li>
						</ul>
					</div>
					<div class="list-group-item text-center" ng-if="!Students.length&&!NoInquiries&&!NoStudent">
						<div class="preloader-message">Loading...</div>
						<div class="loader"></div>
					</div>
					<div class="list-group-item" ng-class="{active:student.id===SelectedStudent.id,
						disabled:student.status==='for-clearance'}" ng-repeat="student in Students | filter:{full_name:SearchWord}" ng-click="student.status==='for-clearance'?openClearance(student):setSelectedStudent(student)">
							
							<h4 class="list-group-item-heading">{{student.first_name}} {{student.middle_name}} {{student.last_name}} {{student.suffix}}</h4>
							<p class="list-group-item-text">
								<span ng-show="student.sno">{{student.sno}}</span> <span ng-show="!student.sno">Student number not issued </span>| <span>{{student.year_level}}</span>
								<span ng-if="student.status=='for-clearance'">| <span class="label label-danger">For Clearance</span> </span>
							</p>
					</div>
					<div class="list-group-item" ng-if="NoStudent&&!Students.length">
						<div class="empty-state">
							<div class="well">
								<div class="empty-state-icon">
									<i class="glyphicon glyphicon-exclamation-sign"></i>
								</div>
								<h4>No Student found!</h4>
							</div>
						</div>
					</div>
					
				</div>
				<div class="list-group-item list-group-search-box">
					<div class="input-group"> 
						<div class="input-group-btn"><button class="btn btn-default" ng-click="SearchStudent()" ><span class="glyphicon glyphicon-search"></span></button></div>
						<input type="text" class="form-control" placeholder="Search" ng-model="SearchWord" focus="ActiveStep===1&&!__SIDEBAR_OPEN"/>
						<div class="input-group-btn"><button class="btn btn-default" ng-click="ClearSearch()"><span class="glyphicon glyphicon-remove"></span></button></div>
					</div>
				</div>
			</div>
			<div class="list-group" ng-show="ActiveStep===2">
				<div class="list-group-item list-group-header">
					<button class="btn btn-xs btn-danger" ng-click="resetField('level')"> <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
					<button class="btn btn-xs btn-warning" ng-click="prevStep()"> <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></button>
					<label for="">{{Steps[1].title}}</label>
				</div>
				<div class="list-group-canvas">
					<div class="list-group-item list-group-header">
						<h5>{{Steps[1].description}}</h5>
					</div>
					<div class="list-group-item text-center" ng-if="!YearLevels.length">
						Loading...
					</div>
					<div class="list-group-item ng-class:{active:yearLevel.id===SelectedLevel.id}" ng-repeat="yearLevel in YearLevels |filter: filterYearLevel | orderBy: '-order'" 
									ng-click="setSelectedLevel(yearLevel)" >
						<h4 class="list-group-item-heading">{{yearLevel.description}}</h4>
						<p class="list-group-item-text">
							<span class="label label-danger" ng-if="yearLevel.order==ActiveOrder" ng-show="ActiveOpt=='Old'">Repeater</span>
							<span class="label label-info" ng-if="yearLevel.order==ActiveOrder" ng-show="ActiveOpt=='New'">Promoted</span>
							<span class="label label-info" ng-if="yearLevel.order==ActiveOrder+1" ng-show="ActiveOpt=='Old'">Promoted</span>
							<span class="label label-warning" ng-if="yearLevel.id=='IR'">Irregular</span>
							
						</p>
					</div>
				</div>
			</div>
			<div class="list-group" ng-show="ActiveStep===3">
				<div class="list-group-item list-group-header">
					<button class="btn btn-xs btn-danger" ng-click="resetField('section')"> <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
					<button class="btn btn-xs btn-warning" ng-click="prevStep()"> <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></button>
					<label for="">{{Steps[2].title}}</label>
				</div>
				<div class="list-group-canvas">
					<div class="list-group-item list-group-header">
						<h5>{{Steps[2].description}}</h5>
					</div>
					<div class="list-group-item text-center" ng-if="!Sections.length">
						Loading...
					</div>
					<div class="list-group-item ng-class:{active:section.name===SelectedSection.name}" ng-repeat="section in Sections " ng-click="setSelectedSection(section)" 
								ng-hide="(ActiveLevel.id!=='IR'&&section.program_id=='MIXED')">
						<h4 class="list-group-item-heading">{{section.name}}</h4>
						<p class="list-group-item-text">
						<span>{{section.program_id}}</span></p>
					</div>
				</div>
			</div>
			<div class="list-group" ng-show="ActiveStep===4">
				<div class="list-group-item list-group-header">
					<button class="btn btn-xs btn-danger" ng-click="resetField('scheme')"> <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
					<button class="btn btn-xs btn-warning" ng-click="prevStep()"> <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></button>
					<label for="">{{Steps[3].title}}</label>
				</div>
				<div class="list-group-canvas text-center" ng-if="LoadingSec">
					Loading...
				</div>
				<div class="list-group-canvas" ng-if="!LoadingSec">
					<div class="list-group-item list-group-header">
						<h5 ng-show="ActiveSection.program_id=='MIXED'">{{Steps[3].description}}</h5>
						<h5 ng-show="ActiveSection.program_id!='MIXED'">{{ActiveSection.name}} Class Schedule</h5>
					</div>
					<div class="list-group-item" ng-show="ActiveSection.program_id!='MIXED'">
						<table class="table table-bordered table-condensed text-center align-middle">
							<thead>
								<tr>
									<th>Subject</th>
									<!-- <th class="col-md-2">Section</th> -->
									<th class="col-md-7">Schedule</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="sched in ActiveSchedule.schedule_details">
									<td>{{sched.subject}}</td>
									<!-- <td rowspan="{{ActiveSchedule.schedule_details.length}}" ng-show="$index==0">{{ActiveSchedule.section}}</td> -->
									<td ng-show="!sched.no_sched">{{sched.days}} | {{sched.times}} | {{sched.rooms}}</td>
									<td ng-show="sched.no_sched">Schedule not set</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="list-group-item list-group-header" ng-show="CustomizedScheds.length">
						<h5>Selected Schedules</h5>
					</div>
					<div class="list-group-item" ng-show="CustomizedScheds.length" sytle="margin-bottom:30px;">
						<table class="table table-bordered table-condensed text-center align-middle">
							<thead>
								<tr>
									<th>Subject</th>
									<!-- <th class="col-md-2">Section</th> -->
									<th class="col-md-5">Schedule</th>
									<th class="col-md-1"></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="sched in CustomizedScheds">
									<td>{{sched.subject}}</td>
									<!-- <td rowspan="{{ActiveSchedule.schedule_details.length}}" ng-show="$index==0">{{ActiveSchedule.section}}</td> -->
									<td ng-show="!sched.no_sched">{{sched.days}} | {{sched.times}} | {{sched.rooms}}</td>
									<td ng-show="sched.no_sched">Schedule not set</td>
									<td>
										<button class="btn btn-danger" ng-click="removeSched(sched,$index)" ><span class="glyphicon glyphicon-minus"></span></button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="list-group-item" ng-show="ActiveSection.program_id=='MIXED'">
						<label for="">Section</label>
						<select name="" id="" class="form-control" ng-options="sc as sc.name group by sc.year_level for sc in Sections | filter:{program_id:'!'+'MIXED'} | orderBy:'year_level_id' " ng-model="sec">
							<option value="" ng-show="!LoadingSec">Select section</option>
							<option value="" ng-show="LoadingSec">Loading Sections...</option>
						</select>
					</div>
					<div class="list-group-item list-group-header" ng-show="sec">
						<h5>{{sec.name}}  Class Schedules</h5>
					</div>
					<div class="list-group-item" ng-show="sec">
						<table class="table table-bordered table-condensed text-center align-middle">
							<thead>
								<tr>
									<th>Subject</th>
									<!-- <th class="col-md-2">Section</th> -->
									<th class="col-md-5">Schedule</th>
									<th class="col-md-1"></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="sched in sec.schedule_details">
									<td>{{sched.subject}}</td>
									<!-- <td rowspan="{{ActiveSchedule.schedule_details.length}}" ng-show="$index==0">{{ActiveSchedule.section}}</td> -->
									<td ng-show="!sched.no_sched">{{sched.days}} | {{sched.times}} | {{sched.rooms}}</td>
									<td ng-show="sched.no_sched">Schedule not set</td>
									<td>
										<button class="btn btn-success" ng-click="AddSched(sched,$index,sec)"><span class="glyphicon glyphicon-plus"></span></button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					
				</div>
				
			</div>
			<div class="list-group" ng-show="ActiveStep===5">
				<div class="list-group-item list-group-header">
					<button class="btn btn-xs btn-danger" ng-click="resetField('scheme')"> <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
					<button class="btn btn-xs btn-warning" ng-click="prevStep()"> <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></button>
					<label for="">{{Steps[4].title}}</label>
				</div>
				<div class="list-group-canvas">
					<div class="list-group-item list-group-header">
						<h5>{{Steps[4].description}}</h5>
					</div>
					<div class="list-group-item text-center" ng-if="!Sections.length">
						Loading...
					</div>
					<div class="list-group-item ng-class:{active:paymentScheme.name===SelectedScheme.name}" ng-repeat="paymentScheme in PaymentSchemes | filter:{subsidy_status:ActiveStudent.subsidy_status}" ng-click="setSelectedScheme(paymentScheme)">
						<div class="row">
							<div class="col-md-6">
								<h4 class="list-group-item-heading">{{paymentScheme.name}}</h4>
								<p class="list-group-item-text">
									<div ng-if="paymentScheme.variance_amount">
										<span ng-show="paymentScheme.variance_amount>0">Plus <span class="amount total peso">{{paymentScheme.variance_amount | currency}}</span> </span> 
										<span ng-show="paymentScheme.variance_amount<0">Less <span class="amount total peso">{{(paymentScheme.variance_amount*-1) | currency}}</span> </span> 
										<span>{{paymentScheme.variance_amount<0?'discount':'interest'}}</span>
									</div>
									<span ng-if="paymentScheme.schedule[1]"> 
										<span class="amount total peso">{{paymentScheme.schedule[0].amount | currency}}</span>
										&plus; <span class="amount total peso">{{paymentScheme.schedule[1].amount | currency }} </span>  
										<span ng-if="paymentScheme.schedule[1].due_dates.length>1">
										&times; <span>{{paymentScheme.schedule.length-1}}</span>
										</span>
									</span>
									
								</p>
							</div>
							<div class="col-md-6">
								<h3 class="amount total peso">{{paymentScheme.total_amount | currency}}</h3>
							</div>
						</div>
					</div>
				</div>
			</div>			
			<!-- <div class="list-group" ng-show="ActiveStep===6">
				<div class="list-group-item list-group-header">
					<button class="btn btn-xs btn-danger" ng-click="resetField('discount')"> <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
					<button class="btn btn-xs btn-warning" ng-click="prevStep()"> <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></button>
					<label for="">{{Steps[5].title}}</label>
				</div>
				<div class="list-group-canvas">
					<div class="list-group-item list-group-header">
						<h5>{{Steps[5].description}}</h5>
					</div>
					<!-- <div class="list-group-item text-center" ng-if="!Discounts.length">
						Loading...
					</div> 
					<div class="list-group-item" ng-repeat="discount in Discounts" ng-show="ActiveDept!='SH'">
						<div class="checkbox checkbox-lg">
							<label >
							<input type="checkbox" ng-checked="SelectedDiscounts[discount.id] &&  isEmpty(SelectedDiscounts)">
								<span class="cr" ng-click="toggleSelectDiscount(discount.id)"><i class="cr-icon glyphicon glyphicon-ok"></i></span>
							</label>
							<div class="description">
								<h4 class="list-group-item-heading">{{discount.name}}</h4>
								<p class="list-group-item-text">
								<span ng-if="discount.type==='percent'"> {{discount.amount}}%</span>
								<span class="amount total peso" ng-if="discount.type==='peso'">{{discount.amount | currency}}</span> 
								<span ng-repeat="fee in discount.fees_applicable">{{fee}} 
								<span ng-if="fee==='all'">fees</span>
								<span ng-if="!$last"> ,</span>
								</span>
								</p>
							</div>
						</div>
					</div>
					<div class="list-group-item" ng-show="!Discounts.length">
						<div class="empty-state">
							<div class="well">
								<div class="empty-state-icon">
									<i class="glyphicon glyphicon-info-sign"></i>
								</div>
								<h4>No Discount available</h4>
							</div>
						</div>
					</div>
				</div>
			</div> -->
			<div class="list-group" ng-show="ActiveStep===6">
				<div class="list-group-item list-group-header">
					<button class="btn btn-xs btn-danger"> <span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
					<button class="btn btn-xs btn-warning" ng-click="prevStep()"> <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></button>
					<label for="">{{Steps[6].title}}</label>
				</div>
				<div class="list-group-canvas">
					<div class="list-group-item">
						<div class="empty-state" ng-hide="AssesmentSaving">
							<div class="well">
								<div class="empty-state-icon">
									<i class="glyphicon glyphicon-thumbs-up"></i>
								</div>
								<h4>Almost there!</h4>
								<p class="empty-state-message">Review your assessment summary.</p>
							</div>
							<div class="empty-state-help alert alert-info"> 
								<span class="empty-state-action-icon glyphicon glyphicon-ok"></span> Click to confirm.
							</div>
						</div>
						<div class="empty-state" ng-show="AssesmentSaving">
							<div class="well">
								<div class="empty-state-icon">
									<i class="glyphicon glyphicon-floppy-disk"></i>
								</div>
								<h4>Saving...</h4>
								<p class="empty-state-message">Please wait for awhile.</p>
							</div>
							<div class="loader fade in" ng-hide="__MODAL_OPEN"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/ng-template" id="successAssessModal.html">
		<div class="modal-body text-center">
			<button class="btn btn-success btn-fab btn-fab-drop" ng-class="{show:ShowButton}"><span class="glyphicon glyphicon-ok"></span></button>
			<h1>Success</h1>
			<p>Student can now proceed to the casheir.</p>
			
			<form action="api/student_registration_form" method="POST" target="_blank" id="PrintAssess">
				<input type="hidden" value="{{AssessmentId}}" name="AssessmentId" />
			</form>
		</div>
		<div class="modal-footer">
			<button class="btn btn-success btn-block" type="button" ng-click="dismissAssesment()">OK</button>
		</div>
	</script>

	<script type="text/ng-template" id="clearanceModal.html">
		<div class="modal-body text-center">
			<button class="btn btn-danger btn-fab btn-fab-drop" ng-class="{show:ShowButton}"><span class="glyphicon glyphicon-alert"></span></button>
			<h1>For Clearance</h1>
			<ul class="text-left">
				<li>Registrar</li>
				<li>Accounting</li>
				<li>Library</li>
			</ul>
		</div>
		<div class="modal-footer">
			<button class="btn btn-danger btn-block" type="button" ng-click="dismissModal()">OK</button>
		</div>
	</script>
	<script type="text/ng-template" id="ReAssessModal.html">
		
		<div class="modal-body text-center">
			<button class="btn btn-danger btn-fab btn-fab-drop show" ><span class="glyphicon glyphicon-alert"></span></button>
			<div class="row">
				<div class="col-md-12">
					<h1>Existing Assessment Found.</h1>
					<p ng-show="ActiveAssessment.status!='NROLD'">{{ActiveStudent.name}} has been assessed already. What would you like to do?
				
					Reassess will archive the previous assessment.
					Reprint will generate the same assessment form.</p>
					<p ng-show="ActiveAssessment.status=='NROLD'">{{ActiveStudent.name}} already enrolled.
						Click REPRINT button to reprint registration form.
					</p>
				</div>
			</div>
			
		</div>
		<div class="modal-footer">
			<button class="btn btn-default pull-left" ng-click="Cancel()">Cancel</button>
			<button class="btn btn-success pull-right" ng-click="Action('reassess')" ng-show="ActiveAssessment.status!='NROLD'">Reassess</button>
			<button class="btn btn-primary pull-right" ng-click="Action('reprint')">Reprint</button>
		</div>
		<form action="api/student_registration_form" method="POST" target="_blank" id="PrintAssess">
			<input type="hidden" value="{{AssessmentId}}" name="AssessmentId" />
		</form>
	</script>
</div>
