<div ng-controller="PageController as PGC" ng-init="PGC.init()">
	<a-row is-fluid="true">
		<a-col size="7">
			<a-row>
				<a-col>
					<h2 class="pull-left">Enrollment</h2>
					<h4 class="pull-right" style="margin-top:30px;">SY 2024 - 2025</h4>		
				</a-col>
			</a-row>
			
			<a-row style="margin-bottom:15px;">
				<a-col size="6">
					<a-button size="lg" type="success btn-block" link="#/students/student_info">
						<h3><a-glyph icon="paperclip"></a-glyph></h3>
						<h4>Inquiry</h4>
						<span class="badge"> Step 1</span>
					</a-button>
				</a-col>
				<a-col size="6">
					<a-button size="lg" type="warning btn-block" link="#/main/assessment">
						<h3><a-glyph icon="folder-open"></a-glyph></h3>
						<h4>Assessment</h4>
						<span class="badge"> Step 2</span>
					</a-button>

				</a-col>
			</a-row>
			<a-deck>
				<a-card title="Inquiry" counter="'9'" icon="paperclip"></a-card>
				<a-card title="Enrolled" counter="'35'" icon="saved"></a-card>
			</a-deck>
			<a-deck>
				<a-card title="Juniors" counter="'25'"></a-card>
				<a-card title="Seniors" counter="'10'"></a-card>
			</a-deck>
			<a-deck>
				<a-card title="Private" counter="'25'"></a-card>
				<a-card title="Public" counter="'10'"></a-card>
			</a-deck>
		</a-col>
		<a-col size="5">
			<a-container>
				<a-canvas>
					<a-content>
					<a-table headers="PGC.Headers" props="PGC.Props" data="PGC.Data" is-preload="false"></a-table>
					</a-content>
				</a-canvas>
			</a-container>
			
		</a-col>
	</a-row>
</div>