<!--div for controller-->
<div ng-controller="MaintenanceController" ng-init="list()">
	<div class="row">
		<div class="col-md-4">
			<div class="list-group">
				<div class="list-group-item list-group-header">
					<label for="">List Maintenance</label>
				</div>
				<div class="list-group-canvas">
					<div class="list-group-item ng-class:{active: list.name === List.name}" ng-repeat="list in MaintenanceList" ng-click="openMaintenance(list)">
						<h4 class="list-group-item-heading" >{{list.name}}</h4>
						<p class="list-group-item-text">
						<span>{{list.description}}</span></p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-8">
			<div class="list-group">
				<div class="list-group-item list-group-header">
					<button class="btn btn-xs btn-danger pull-right" ng-disabled="!List" ng-click="removeMaintenanceInfo()"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
					<label ng-if="!List">List Information</label>
					<label ng-if="List">{{List.name}}</label>
					<div class="btn-group btn-group-sm pull-right hide" uib-dropdown>
						  <button class="btn btn-default dropdown-toggle" type="button"  uib-dropdown-toggle>
							<span class="glyphicon glyphicon-chevron-down"></span>
						  </button>
						  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
						  </ul>
					</div>
				</div>
				<div class="list-group-canvas" ng-show="List">
					<div class="list-group-item list-group-header">
						<h5>{{List.name}} List</h5>
					</div>
					<div class="list-group-item" ng-show="List.state==='edit'" ng-if="Columns.length">
						
						<table class="table table-bordered table-condensed" ng-class="{hide:!Columns.length}">
							<thead>
								<tr>
									<th class="text-center col-md-2" ng-repeat="column in Columns" >{{column}}</th>
									<th class="text-center col-md-2"><button class="btn btn-default" ng-click="updateState('sort')"><span class="glyphicon glyphicon-sort"></span></button></th>
								</tr>
								<tr>
									<td class="col-md-{{ColumnLen}}" ng-repeat="column in Columns" >
									<input type="text" class="form-control" ng-model="newItem[column]" placeholder="{{column}}" ng-hide="column==='year_level_id' || column==='educ_level_id'"/>
									<select name="" id="" class="form-control" ng-model="newItem[column]" ng-if="column==='year_level_id'" ng-options="yearLevel.id as yearLevel.name for yearLevel in YearLevels">
										<option value="">Select YearLevel</option>
									</select>
									<select name="" id="" class="form-control" ng-model="newItem[column]" ng-if="column==='educ_level_id'" ng-options="educLevel.id as educLevel.name for educLevel in EducLevels">
										<option value="">Select EducLevels</option>
									</select>
									</td>
									<td class="text-center col-md-1"><button class="btn btn-success" ng-click="addNewItem()"><span class="glyphicon glyphicon-plus"></span></button></td>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="listitem in ListItems">
									<td class="col-md-{{ColumnLen}}" ng-repeat="column in Columns" >
									<input type="text" class="form-control" ng-blur="updateItem(listitem)" ng-model="listitem[column]" ng-hide="column==='year_level_id' || column==='educ_level_id'"/>
									<select name="" id="" class="form-control" ng-model="listitem[column]" ng-blur="updateItem(listitem)" ng-if="column==='year_level_id'" ng-options="yearLevel.id as yearLevel.name for yearLevel in YearLevels">
										<option value="">Select YearLevel</option>
									</select>
									<select name="" id="" class="form-control" ng-model="listitem[column]" ng-blur="updateItem(listitem)" ng-if="column==='educ_level_id'" ng-options="educLevel.id as educLevel.name for educLevel in EducLevels">
										<option value="">Select EducLevels</option>
									</select>
									</td>
									<td class="text-center col-md-1"><button class="btn btn-danger" ng-click="removeItem($index,listitem.id)"><span class="glyphicon glyphicon-remove"></span></button></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="list-group-item" ng-show="List.state==='sort'" ng-if="Columns.length">
						<table ui-tree class="table table-bordered table-condensed table-sort">
							<thead>
								<tr>
									<th class="text-center col-md-{{ColumnLen}}" ng-repeat="column in Columns">{{column}}</th>
									<th class="text-center col-md-1"><button class="btn btn-danger" ng-click="updateState('edit')"><span class="glyphicon glyphicon-remove"></span></button></th>
								</tr>
								<tr>
									<td colspan="{{Columns.length}}">
										<div class="help-text"><a href="" class="btn btn-xs btn-default disabled"><span class="glyphicon glyphicon-sort"></span></a> Click and drag to reorder.</div>
									</td>
									<td class="text-center"><a href="" class="btn btn-success" ng-click="saveSortItems()"><span class="glyphicon glyphicon-floppy-disk"></span></a></td>
								</tr>
							</thead>
							<tbody ui-tree-nodes ng-model="SortItem">
								<tr ng-repeat="listitem in SortItem" ui-tree-node >
									<td class="col-md-{{ColumnLen}}" ng-repeat="column in Columns">{{listitem[column]}}</td>
									<td class="text-center col-md-1"><a class="btn btn-default" ui-tree-handle ><span class="glyphicon glyphicon-sort"></span></a></td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="list-group-item text-center" ng-hide="Columns.length || ErrorCode">
						<div class="empty-state">
							<div class="well">
								<div class="empty-state-icon">
									<i class="glyphicon glyphicon-refresh"></i>
								</div>
								<h4>Loading...</h4>
								<p class="empty-state-message">Please wait.</p>
							</div>
						</div>
					</div>
					<div class="list-group-item text-center" ng-show="ErrorCode">
						<div class="empty-state">
							<div class="well">
								<div class="empty-state-icon">
									<i class="glyphicon glyphicon-exclamation-sign"></i>
								</div>
								<h4>Error {{ErrorCode}}</h4>
								<p class="empty-state-message">{{ErrorMessage}}</p>
							</div>
						</div>
					</div>
				</div>
				<div class="list-group-canvas" ng-hide="List">
					<div class="list-group-item list-group-header">
						<h5>Manage list</h5>
					</div>
					<div class="list-group-item">
						<div class="empty-state">
							<div class="well">
								<div class="empty-state-icon">
									<i class="glyphicon glyphicon-list-alt"></i>
								</div>
								<h4>No list selected!</h4>
								<p class="empty-state-message">Choose the list to manage.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>